/* regole generali web page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole contenitore */
#container{
  margin: 10px;
  /* debug *
  background-color: lightgrey;
  height: 100%;
  /* fine debug */
}

/* header */
header{
  /* debug */
  background-color: yellow;
  height: 120px;
  /* fine debug */
}

/* main */
main{
  margin: 5px 0;
  /* debug *
  background-color: green;
  height: 200px;
  /* fine debug */
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* regole generali aside */
.side{
  float: left;
  width: 25%;
  /* debug *
  background-color: #e91e63;
  height: 200px;
  /* fine debug */
}

/* parte sinistra */
.left{
  height: 320px;
  background-color: #e91e63;
}

/* section centrale */
section{
  float: left;
  width: 46%;
  margin: 0 2%;
  /* debug */
  background-color: #9c27b0;
  height: 400px;
  /* fine debug */
}

/* parte destra */
.right{
  /* debug *
  height: 390px;
  /* fine debug */
}
.square{
  width: 100%;
  margin-bottom: 5px;
  background-color: #e91e63;
  height: 190px;
}

/* footer */
footer{
  /* debug */
  background-color: lightblue;
  height: 80px;
  /* fine debug */
}
